<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chosen.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <title></title>
    <script src="{{ url_for('static', filename='lib/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/chosen.jquery.min.js') }}"></script>
  </head>
  <body>

    <div id="main-container" class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col-6">
          <select id="plane-selector" class="chosen-select">
            <option></option>
          </select>
        </div>
        <div class="col-2">
          <button id="get-report-btn" type="button" class="btn btn-primary">Создать отчет</button>
        </div>
        <div class="col"></div>
      </div>
    </div>

  </body>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>